

/* Aplica el color de fondo a la barra lateral */
.bg-light {
  background-color: var(--sidebar-background-color-light) !important;
}

.bg-dark {
  background-color: var(--sidebar-background-color-dark) important;
}

body {
  margin-top: 0;
}
.custom-btn {
  color: rgb(0, 0, 0); /* Cambia el color del texto */
}

/* Style for the "Personas" dropdown */
.dropdown-menu.show[aria-labelledby="ngbDropdown-0"] { /* Targets "Personas" dropdown specifically */
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.dropdown-menu.show.active[aria-labelledby="ngbDropdown-0"] { /* Targets "Personas" dropdown specifically */
  transform: translateY(0);
}

.background-container {
 /* background-image: url('../assets/pastel.jpg');*/
  background-size: cover;
  background-position: center;
  height: 100vh; /* Establece la altura al 100% de la altura de la ventana del navegador */
}

.designacion-otorgada {
  background-color: green;
}

.designacion-rechazada {
  background-color: red;
}

.eye-green {
  color: green;
}

.eye-red {
  color: red;
}


/* Estilos adicionales para los detalles */
.detail-section {
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.detail-header {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 15px;
}
.detail-item {
  margin-bottom: 10px;
}
.report-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}
.nav-tabs .nav-link.active {
  background-color: #e9ecef;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link {
  color: #495057;
  border: 1px solid #dee2e6;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.tab-content {
  padding: 15px;
  border: 1px solid #dee2e6;
  border-top: none;
  background-color: #fff;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

 .detail-section {
      border: 1px solid #dee2e6;
      background-color: #f8f9fa;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }
    .detail-header {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .detail-item {
      margin-bottom: 10px;
    }
    .report-title {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .nav-tabs .nav-link.active {
      background-color: #e9ecef;
      border-color: #dee2e6 #dee2e6 #fff;
    }
    .nav-tabs .nav-link {
      color: #495057;
      border: 1px solid #dee2e6;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
    }
    .tab-content {
      padding: 15px;
      border: 1px solid #dee2e6;
      border-top: none;
      background-color: #fff;
      border-bottom-left-radius: .25rem;
      border-bottom-right-radius: .25rem;
    }